body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #000000;
	background-position: center;
}
.a_homepage
{
	width: 1170px;
	margin: auto;
}
.head_txt 
{
	margin: 0;
	padding: 0 0 20px;
	background: #ADFF2F;
	position: auto;
}
.head_txt h1
{
	font-family: times new roman header;
	color: black;
	text-align: left;
	font-size: 50px;
}
h3
{
	float: left;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding: 20px;
}
.nav-area
{
	float: right;
	list-style: none;
	margin-top: 40px;
}
.nav-area li
{
	display: inline-block;
}
.nav-area li a
{
	color: black;
	background-color: white;
	text-decoration: none;
	padding: 10px 30px;
	font-family: poppins;
	font-size: 18px;
	border-radius: 20px;
}
.nav-area li a:hover
{
	cursor: pointer;
	background: #B22222;
	color: black;
}
.cen-area
{
	position: absolute;
	list-style: square;
	margin: 100px;
}
.cen-area li
{
	display: inline-block;
}
.cen-area li a
{
	color: red;
	background-color: white;
	font-family: poppins;
	text-decoration: none;
	padding: 20px 30px;
	font-size: 25px;
	border-radius: 20px;
}
.cen-area li a:hover
{
	cursor: pointer;
	background: crimson;
	color: black;
}